:root {
    --border: black;
    --bg: white;
}

*
 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--border);
    transition: background-color 0.3s, color 0.3s;
    height: 100vh;
    padding: 0 1rem;
}

body.dark-mode  {
    --bg: #121212;
    --border: #ffffff;
}


#theme-toggle {
    border-radius: 16px;
    padding: 2px 10px;
    grid-column: 2/3;
    justify-self: end;
    align-self: start;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    gap: 2rem;

}

.button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;

}

.heading {
    font-size: 3rem;
    padding-left: 2rem;
      grid-row: 2/3;
}

.main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.card {
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 250px;
    gap: 1rem;
    padding: 20px;
    border-radius: 4px;
}

.buttonSection {
     margin-top: auto;
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.deleteButton,
.read {
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    align-self: stretch;
    background-color: white;
}


.title {
    font-weight: 900;
}

dialog {
    margin: 2rem;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 4px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.radio-items {
    display: flex;
    gap: 3rem;
}

.radio-item {
    display: flex;
    justify-content: center;
    gap: 8px
}

form p, 
form label {
    font-weight: 500;
}

input {
    padding: 3px;
    border-radius: 4px;
}

.button-section button {
    padding: 8px;
    border-radius: 8px;
    font-weight: 900;
    margin-top: 1rem;

}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
}

.read-card {
    border: 2px solid green;
    background-color: #f0fff0;
}

.unread-card {
    border: 2px solid red;
    background-color: #fff0f0;
}