*
 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: black;
    color: white;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.button {
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.heading {
    font-size: 2rem;
    padding-left: 2rem;
}

.main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    gap: 1rem;
    padding: 20px;
    border-radius: 4px;
    justify-content: space-between;
}

.deleteButton {
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: auto;
    align-self: center;
    border-radius: 1rem;
}


.title {
    font-weight: 900;
}

dialog {
    margin: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 4px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.radio-items {
    display: flex;
    gap: 3rem;
}

.radio-item {
    display: flex;
    justify-content: center;
    gap: 8px
}

form p, 
form label {
    font-weight: 500;
}

input {
    padding: 3px;
    border-radius: 4px;
}

.button-section button {
    padding: 8px;
    border-radius: 8px;
    font-weight: 900;
    margin-top: 1rem;

}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
}
